body {
    text-align: center;
}

.translation_table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.translation_table .table_header {
    font-weight: bold;
}

.translation_table .table_row textarea { 
    min-height: 10vh;
    min-width: 25vw;
}

tbody#translation_suggestions tr {
    height: 3vh; 
}

tbody#translation_suggestions td {
    width: 30vw;
    text-align: center;
}

tbody#translation_suggestions tr:hover {
    background-color: gray;
}